/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,700");

@media screen and (max-width: 930px) {
  .sidemenu,
  .copyright,
  .inner-section .details .description,
  .logo {
    display: none;
  }

  .main .info {
    margin-top: -100px;
  }

  .main .info .title {
    font-size: 26px;
  }

  .main .info .title .framer {
    padding-right: 15px;
  }

  .main .info .title .cross {
    width: 20px;
    height: 20px;
  }

  .main .info .title .react {
    padding-left: 15px;
  }

  .main .info .subtitle {
    font-size: 20px;
  }

  .main .info .tags {
    justify-content: center;
    margin-top: 40px;
  }

  .main .info .tags .tag {
    width: 90px;
    height: 14px;
    font-size: 11px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .scroll .scrolltext {
    font-size: 14px;
    font-weight: 400;
  }

  .menus .about {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 80px;
    border-radius: 30px;
    font-size: 14px;
  }

  .about-layer {
    width: calc(100% - 50px);
    height: calc(100vh - 50px);
    left: 25px;
    top: 25px;
  }

  .about-layer .connect {
    width: 100%;
    height: 50%;
  }

  .about-layer .connect .connect-inner {
    width: 260px;
    height: 180px;
  }

  .about-layer .connect .connect-inner .connect-title {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  }

  .about-layer .connect .connect-inner a {
    font-size: 20px;
    margin-bottom: 11px;
  }

  .about-layer button {
    width: 30px;
    height: 30px;
  }

  .about-layer .close {
    right: 35px;
    top: 35px;
    width: 36px;
    height: 36px;
  }

  .about-layer .close svg {
    left: -9px;
    top: -9px;
    width: 40px;
    height: 40px;
  }

  .about-layer .introduction {
    width: 100%;
    height: 50%;
    top: calc(50vh - 25px);
  }

  .about-layer .introduction .introduction-inner {
    width: 260px;
    height: 180px;
  }

  .about-layer .introduction .introduction-inner .title {
    font-size: 20px;
    margin: 0px 0px 24px 0px;
    height: 50px;
  }

  .about-layer .introduction .introduction-inner .description {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    height: 96px;
  }

  .about-layer .introduction .introduction-inner .credit-pc {
    display: none;
  }

  .about-layer .introduction .introduction-inner .credit-mobile {
    display: initial;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }

  .iphone {
    left: calc(50% - 130px);
    margin-top: calc(50vh + 60px - 301px);
    margin-bottom: calc(50vh + 60px - 221px);
  }

  .project {
    z-index: 10;
    top: 0;
    margin-left: calc(50% - 114px);
    margin-top: calc(50vh + 60px - 286px);
    margin-bottom: calc(50vh + 60px - 226px);
  }

  .inner-section .details {
    left: 0px;
    top: 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .inner-section .details .day {
    padding-left: auto;
    padding-right: auto;
    font-size: 16px;
  }

  .inner-section .details .title {
    font-size: 20px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 931px) {
  .about-layer .connect .connect-inner a:focus {
    outline: none;
  }

  .about-layer .connect .connect-inner a:focus::before {
    content: "―― ";
    color: #0053FF;
    outline: none;
  }

  .about-layer .connect .connect-inner a:hover {
    cursor: pointer;
  }

  .about-layer .connect .connect-inner a:hover::before {
    content: "―― ";
    color: #0053FF;
  }
}
