/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,700");

@media screen and (max-width: 930px) {
  .menus,
  .about-layer,
  .description,
  .logo {
    display: none;
  }

  .main .info {
    margin-top: -100px;
  }

  .main .info .title {
    font-size: 26px;
  }

  .main .info .title .framer {
    padding-right: 15px;
  }

  .main .info .title .cross {
    width: 20px;
    height: 20px;
  }

  .main .info .title .react {
    padding-left: 15px;
  }

  .main .info .subtitle {
    font-size: 20px;
  }

  .main .info .tags {
    justify-content: center;
    margin-top: 40px;
  }

  .main .info .tags .tag {
    width: 90px;
    height: 14px;
    font-size: 11px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .scroll .scrolltext {
    font-size: 14px;
    font-weight: 400;
  }

  .iphone {
    left: calc(50% - 130px);
    margin-top: calc(50vh + 100px - 301px);
    margin-bottom: calc(50vh + 100px - 221px);
  }

  .project {
    z-index: 10;
    top: 0;
    margin-left: calc(50% - 114px);
    margin-top: calc(50vh + 100px - 286px);
    margin-bottom: calc(50vh + 100px - 226px);
  }

  .inner-section .details {
    left: 0px;
    top: 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .inner-section .details .day {
    padding-left: auto;
    padding-right: auto;
    font-size: 16px;
  }

  .inner-section .details .title {
    font-size: 20px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 931px) {
  .mobile {
    display: none;
  }
}
